:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    
    background-image: linear-gradient(rgb(74, 74, 255), rgb(0, 10, 151));
    height: 55px;
    padding-left: 100px;
    padding-top: 15px;
    color: white;
    font-size: 32px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: space-between;
}
.titleNav {
    text-decoration: none;
    color:white;

}
.navBtns{
    padding-right: 2rem;

}
.loginBtn{
    font-size: 18px;
    color:white;
background-color: transparent;
border: none;
padding-right: 2rem;
}
.trialBtn{
    font-size: 18px;
    color:white;
    height: 35px;
    background-color: rgb(63, 63, 63);
    border:none

}

body{
    background-color: rgb(230, 230, 230);
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main{

    margin: auto;

}
.pager{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pager button{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    height: 30px;
    border: 1 solid black;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pager select{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    height: 30px;
    border: 1 solid black;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    
    background-color: rgb(58, 58, 58);
    display: block;
    color:white;
    width: 100%;
    padding-top: 20px;
}
.footerPart1{
    display: flex;
    padding-left:100px;
}
.footerPart1 li{
    padding-right:15px;
    font-size: 14px;
}
.footerPart2 li{
    font-size: 12px;
}
.footerPart2 {
    padding-left: 100px;
}
.bottomDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px
}
.footerPart3{
    display: flex;
    padding-left: 100px;
   
}
.footerPart3 li{
    margin-right: 1rem;
}

.footerPart4 li{
    margin-right: 1rem;
}
.appsIcons ul{
    display: flex;
    padding-right:40px ;
}
footer li{
    list-style-type: none;  
}
footer img{
    height: 30px;
}


 
img :before{
    display:block;
    box-sizing: border-box;
    content: "\0026A0  Imagen rota: \A" attr(src);
    white-space: pre-wrap;
    position: absolute;
    background-color:red;
    color:#fff;
    text-align:center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:20px;
   
}
