
body{
    background-color: grey;
    height: 70vh;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
nav{
    height: 15vh;
    background-color: blue;
}
footer{
    height: 20vh;
    background-color: rgb(58, 58, 58);
    display: flex;
    color:white
}
footer li{
    list-style-type: none;
    
}
footer img{
    height: 30px;
}
