.seriesTitle{
margin: 0;
background-color: aquamarine;
}
.divList{
    height: 70vh;
    margin: 2rem 4rem ;
}
.seriesList{
display:flex;
flex-wrap: wrap;
gap:2rem
}
.seriesList li{
    width:10vw ;
    height: 25vh;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    
    
}
.seriesList img{
    height: 200px;

}
.modalButton {
height: 30px;
width: 100%;
    font-family: 'Satisfy', cursive;
    font-size: 12px;
    background-color: transparent;
    border: none;
    background-image: none;
    align-self: center
}
.modalButton h3 {
    margin:0;
}